* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    font-family: 'Akronim', cursive;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;

}

.row {
    display: flex;
}

.main img {
    width: 100%;
    height: auto;
}

.logo {
    width: 10%;
    position: absolute;
    left: 10%;
    right: 85%;
}

.cain{
    position: absolute;
    right: 10%;
    top: 5%;
    left: 85%;
}

.avatar {
    position: absolute;
    left: 40%;
    right: 40%;
    top: 12%;
}

.frase {
    width: 25%;
    position: absolute;
    top: 72%;
    left: 37%;
    right: 37%;
    padding: 1%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 10px;
}

.btn-neon{
    background-color: rgba( 169, 69, 199, 0.3);
    position: absolute;
    top: 90%;
    left: 35%;
    right: 35%;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    text-align: center;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


h3{
    color:red;
}

@media screen and (max-width: 800px){


 .logo {
     width: 20%;
 }

 .avatar {
     width: 30%;
     top: 20%;
 }

 .frase {
     width: 40%;
     top: 50%;
 }

 .boton {
     width: 25%;
     top: 70%;
 }

}